In [1]:
d1 = {}
print(d1)
print(type(d1))
print(len(d1))

{}
<class 'dict'>
0

In [2]:
d1 = {"Name":"Atul"}
print(d1)
print(type(d1))
print(len(d1))

{'Name': 'Atul'}
<class 'dict'>
1

In [3]:
s1 = {546,356,"Atul"}
print(s1)
print(type(s1))
print(len(s1))

{546, 'Atul', 356}
<class 'set'>
3

In [8]:
s2 = {"Name":"Atul",
      "Age":27,
      "City":"Indore"}
print(s2)

{'Name': 'Atul', 'Age': 27, 'City': 'Indore'}

In [11]:
s2 = {"first_Name":"Atul",
      "Age":27,
      "City":"Indore",
      "Last_Name":"Singh"}
print(s2)

{'first_Name': 'Atul', 'Age': 27, 'City': 'Indore', 'Last_Name': 'Singh'}

In [6]:
emp_set = set([587,365,'asd',587])
print(emp_set)
print(type(emp_set))

{'asd', 587, 365}
<class 'set'>

In [16]:
d3 = {"Name":['Adity','Jayshre',"Khushi","Jayshre"],
      "Age":[34,56,23,87],
      "Country":['Germany',"USA","Canada",'Jamaica']}
print(d3)

{'Name': ['Adity', 'Jayshre', 'Khushi', 'Jayshre'], 'Age': [34, 56, 23, 87], 'Country': ['Germany', 'USA', 'Canada', 'Jamaica']}

In [18]:
d5 = {"GrandFather":{"Name":"RaghunathSing","Age":90},
      "Father":{"Name":"DurgaPrasad","Age":57},
      "Self":{"Name":"Vinay","Age":27}}
d5

{'GrandFather': {'Name': 'RaghunathSing', 'Age': 90},
 'Father': {'Name': 'DurgaPrasad', 'Age': 57},
 'Self': {'Name': 'Vinay', 'Age': 27}}

In [19]:
d3 = {"Name":['Adity','Jayshre',"Khushi","Jayshre"],
      "Age":[34,56,23,87],
      "Country":['Germany',"USA","Canada",'Jamaica']}
print(d3)

{'Name': ['Adity', 'Jayshre', 'Khushi', 'Jayshre'], 'Age': [34, 56, 23, 87], 'Country': ['Germany', 'USA', 'Canada', 'Jamaica']}

In [21]:
d3['Name']

['Adity', 'Jayshre', 'Khushi', 'Jayshre']

In [24]:
print(d3['Name'][1])
print(d3['Name'][1:])

Jayshre
['Jayshre', 'Khushi', 'Jayshre']

In [25]:
d3['Name'][1] = 'Rizwan'
d3

{'Name': ['Adity', 'Rizwan', 'Khushi', 'Jayshre'],
 'Age': [34, 56, 23, 87],
 'Country': ['Germany', 'USA', 'Canada', 'Jamaica']}

In [27]:
d3['Qualification'] = ['B.Tech','B.Sc','M.Sc.','B.A']
d3

{'Name': ['Adity', 'Rizwan', 'Khushi', 'Jayshre'],
 'Age': [34, 56, 23, 87],
 'Country': 'City',
 'Qualification': ['B.Tech', 'B.Sc', 'M.Sc.', 'B.A']}

In [28]:
d3 = {"Name":['Adity','Jayshre',"Khushi","Jayshre"],
      "Age":[34,56,23,87],
      "Country":['Germany',"USA","Canada",'Jamaica']}
print(d3)
for i in d3:
    print(i)

{'Name': ['Adity', 'Jayshre', 'Khushi', 'Jayshre'], 'Age': [34, 56, 23, 87], 'Country': ['Germany', 'USA', 'Canada', 'Jamaica']}
Name
Age
Country

In [32]:
for i,j in d3.items():
    print(i,j)

Name ['Adity', 'Jayshre', 'Khushi', 'Jayshre']
Age [34, 56, 23, 87]
Country ['Germany', 'USA', 'Canada', 'Jamaica']

In [17]:
import pandas as pd
df = pd.DataFrame(d3)
df

      Name  Age  Country
0    Adity   34  Germany
1  Jayshre   56      USA
2   Khushi   23   Canada
3  Jayshre   87  Jamaica