In [2]:
x = 'machine learning'
print(len(x))
for i in x:
    print(x)

16
machine learning
machine learning
machine learning
machine learning
machine learning
machine learning
machine learning
machine learning
machine learning
machine learning
machine learning
machine learning
machine learning
machine learning
machine learning
machine learning

In [3]:
x = 'machine learning'
print(len(x))
for i in x:
    print(i)

16
m
a
c
h
i
n
e

l
e
a
r
n
i
n
g

In [4]:
for j in 'hadoop':
    print(j)

h
a
d
o
o
p

In [5]:
for ruby in 'hadoop':
    print(ruby)

h
a
d
o
o
p

In [6]:
lst = [45,534,'hello','computer',True]
for i in lst:
    print(i)

45
534
hello
computer
True

In [7]:
lst = (45,534,'hello','computer',True)
for i in lst:
    print(i)

45
534
hello
computer
True

In [9]:
st1 = {45,534,'hello','computer',True}
print(type(st1))
for st in st1:
    print(st)

<class 'set'>
hello
True
534
computer
45

In [16]:
d1 = {"name":'Altman','Age':45,"City":"NewYork"}
print(d1)
for key,value in d1.items():
    print(key)
   #print("-"*50)
    print(value)

{'name': 'Altman', 'Age': 45, 'City': 'NewYork'}
name
Altman
Age
45
City
NewYork

In [17]:
x = 4895
print(len(x))

TypeError: object of type 'int' has no len()

In [18]:
x = 4895
for i in x:
    print(i)

TypeError: 'int' object is not iterable

In [20]:
range(5)

range(0, 5)

In [26]:
print(list(range(5)))
print(list(range(5,19)))
print(list(range(5,20,2)))
print(list(range(5,20,3)))
print(list(range(20,5)))
print(list(range(20,5,-1)))
print(list(range(20,5,-2)))

[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
[5, 7, 9, 11, 13, 15, 17, 19]
[5, 8, 11, 14, 17]
[]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6]
[20, 18, 16, 14, 12, 10, 8, 6]

In [27]:
for i in range(5):
    print(i)

0
1
2
3
4

In [28]:
for i in range(5,40):
    print(i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39

In [29]:
for i in range(5,40):
    if i % 2 == 0:
        print(i)

6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38

In [30]:
for i in range(5,40):
    if i % 2 == 1:
        print(i)

5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39

In [31]:
for i in range(5,40):
    if i % 3 == 0:
        print(i)

6
9
12
15
18
21
24
27
30
33
36
39

In [33]:
for i in range(5,44):
    if i % 3 == 0 and i % 7 == 0:
        print(i)

21
42

In [37]:
u = list(range(1,11))
Sum = 0
for i in u:
    print(i)
    Sum += i # Sum = Sum + i
print("Total Sum of n number",Sum)

1
2
3
4
5
6
7
8
9
10
Total Sum of n number 55

In [39]:
num = int(input("Enter your number"))
for i in range(1,11):
    print(num, "*", i,"=", num*i)

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [45]:
#num = int(input("Enter your number"))
for i in range(1,11):
    for j in range(1,11):
        print(i, "*", j,"=", i*j,)
    print()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
for i in range(1,5):# for print row
    for j in range(1,5): # for print column
        print("*",end = " ")
    print()

* * * *
* * * *
* * * *
* * * *

In [48]:
for i in range(1,5):
    for j in range(i):
        print("*",end = " ")
    print()

*
* *
* * *
* * * *

In [ ]:
for i in range(1,5): # 1,2,3,4,
    for j in range(5,i,-1): # 5,4,3,2
        print(" ",end = " ")
    for j in range(i):
        print("*",end = " ")
    print()

        *
      * *
    * * *
  * * * *

In [9]:
for i in range(1,6): # 1,2,3,4,
    for j in range(6,i,-1): # 5,4,3,2
        print(" ",end = " ")
    for j in range(i):
        print("*",end = " ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [6]:
for i in range(1,6):
    for j in range(6,i,-1):
        print("",end = " ")
    for j in range(i):
        print("*",end = " ")
    print()
for i in range(1,6):
    for j in range(0,i):
        print("",end = " ")
    for j in range(6,i,-1):
        print("*",end = " ")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [77]:
for i in range(1,6):
    for j in range(0,i):
        print("",end = " ")
    for j in range(6,i,-1):
        print("*",end = " ")
    print()

 * * * * *
  * * * *
   * * *
    * *
     *

In [8]:
for i in range(1,6):
    for j in range(0,i):
        print("",end = " ")
    for j in range(6,i,-1):
        print("*",end = " ")
    print()
for i in range(1,6):
    for j in range(6,i,-1):
        print("",end = " ")
    for j in range(i):
        print("*",end = " ")
    print()

 * * * * *
  * * * *
   * * *
    * *
     *
     *
    * *
   * * *
  * * * *
 * * * * *

In [78]:
for i in range(1,6):
    for j in range(6,i,-1):
        print("",end = " ")
    for j in range(i):
        print("*",end = " ")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [54]:
for i in range(65,91):
    print(chr(i),end = " ")

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [56]:
for i in range(97,123):
    print(chr(i),end = " ")

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [ ]:
# Incomplede code made by Ayushi Parkhe
n = 5 
for i in range (1,n + 1):
 for j in range  (i):
    print("*",end="")
for j in range(2*(2-i)):
    print ("",end="")
for j in range(i):
    print("*",end="")

********************

In [86]:
x = 0
while x < 10:
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9

In [87]:
x = 10
while x > 0:
    print(x)
    x -= 1

10
9
8
7
6
5
4
3
2
1

In [88]:
z = 'zookeeper'
for i in z:
    print(i)

z
o
o
k
e
e
p
e
r

In [97]:
x = ['bottle','mobile',2,4,6,4,7.8,45.64,"Mouse"]
flt  = []
intgr = []
Str = []
for i in x:
    if type(i) == str:
        Str.append(i)
    elif type(i) == int:
        intgr.append(i)
    else:
        flt.append(i)
print(flt)
print(intgr)
print(Str)

[7.8, 45.64]
[2, 4, 6, 4]
['bottle', 'mobile', 'Mouse']

In [ ]:
num = int(input("Enter your number"))
print(num)
my_list = []
for i in range(1,num): # 1, 27
    if num % i== 0:
        my_list.append(i)
        Sum = 0
        for j in my_list:
            Sum += j
            if Sum == num:
                print("perfect number",Sum, num)
print("Factor list",my_list)
print(Sum)

496
perfect number 496 496
Factor list [1, 2, 4, 8, 16, 31, 62, 124, 248]
496

In [6]:
x = [1, 2, 4, 7, 14]
Sum = 0
for i in x:
    Sum += i
print(Sum)

28