Operator :- It's a special kind of symbols which is used to perform specific operation or tast.
Types of operator
1) Arithmatic
2) Assignment 
3) Comparison/Relational
4) Logical
5) Bitwise
6) Identity
7) Membership

Arithmatic

In [3]:
a = 89
b = 34
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)

123
55
3026
2.6176470588235294
2
21

Arithmatic assignment Operator

In [ ]:
x = 90
x += 10 # x = x + 10
x

100

In [ ]:
a = 89
b = 34
a += b # a = a+b
print(a)
print(b)

123
34

In [6]:
a

123

In [9]:
a = 89
b = 34
a -= b # a = a-b
print("Finaly ouput after operation",a)
print(b)

Finaly ouput after operation 55
34

In [10]:
a = 8
b = 3
a *= b # a = a*b
print("Finaly ouput after operation",a)
print(b)

Finaly ouput after operation 24
3

In [43]:
b *= a
print(b)

10570419695848784595379036274728760786364137472

In [11]:
b *= a
print(b)

72

In [48]:
a = 8
b = 3
a /= b
a

2.6666666666666665

In [ ]:
b/=a # b = 3/2.66
b

1.125

In [51]:
3/2.67

1.1235955056179776

In [52]:
a = 8
b = 3
a //= b
a

2

In [53]:
b//=a # b = 3/2.66
b

1

In [55]:
x = 90
y = 19

x%=y
x

14

In [56]:
y%=x
y

5

In [60]:
x = 3
y = x ** 6
y

729

# Comparison

In [ ]:
c = 689
v = 453
print(c>v)
print(c<v)
print(c>=v)
print(c<=v)
print(c==v)
print(c!=v)

True
False
True
False
False
True

Logical Operator
1) and
2) or
3) not

In [4]:
x = int(input("Enter the value of x"))
y = int(input("Enter the value of y"))
z = int(input("Enter the value of z"))
print(x,y,z)
print(x > y and z > x)
print(z >= y and x == y)
print(y<z and z == x and x!=y)

80 45 90
True
False
False

In [6]:
x = int(input("Enter the value of x"))
y = int(input("Enter the value of y"))
z = int(input("Enter the value of z"))
print(x,y,z)
print(x > y or z > x)
print(z >= y or x == y)
print(y<z or z == x or x!=y)
print(x == y and z != x and z < y)

80 45 90
True
True
True
False

In [7]:
i = True
j = False
print(not i)
print(not j)

False
True

# Bitwise operator

In [ ]:
x = 34
y = 23

print(x & y) # AND
print(x | y) # OR
print(x ^ y) # XOR

2
55
53

In [3]:
print(bin(x))
print(bin(y))
print(bin(2))

0b100010
0b10111
0b10

In [8]:
print(0b10)
print(0b110111)
print(0b110101)

2
55
53

In [5]:
print(0b100010)

34

In [12]:
v = 20
print(~v)

-21

In [11]:
u = -34
print(~u)

33

In [13]:
p = 0
print(~p)

-1

In [ ]:
p = 0
print(~p)

-1

# Member

In [20]:
x = 'machine learning'
print('ma' in x)
print('Ma' in x)
print(' ' in x)
print(' ' not in x)
print(' L' not in x)
print(' l' not in x)

True
False
True
False
True
False

In [21]:
u = 48395
print(48 in u)

TypeError: argument of type 'int' is not iterable

# Identity operator

In [24]:
i = 68
j = 90
k = 90
print(id(i))
print(id(j))
print(id(k))
print(i is j)
print(j is k)

140712436071304
140712436072008
140712436072008
False
True